<!DOCTYPE html>
<html>
  <head><meta charset="utf-8"><title>MFA Verification</title></head>
  <body>
    <h1>Enter your authentication code</h1>
    <form method="post">
      <input type="text" name="_auth_code" autofocus />
      <button type="submit">Verify</button>
    </form>
  </body>
</html>


